.container-fluid.content-page
  .page-header
    h3
      span.fa.fa-th.fa-fw
      | Coboco Apps
  .page-content
    .row
      .col.page-view.bg-12.gray
        .card-deck.m-3
          .card.bg-light.text-center
            .card-header
              h4 AirWatch
                span.fa.fa-external-link-alt.mt-2.ml-2
            .card-body
              a(href="https://aw.coboco.net", target="_blank")
                span.fa.fa-rocket.fa-5x
          .card.bg-light.text-center
            .card-header
              h4 Specialty Lists
            .card-body
              a(href="/apps/specialtylist")
                span.fa.fa-envelope.fa-5x
          .card.bg-light.text-center
            .card-header
              h4 Teapot
            .card-body
              a(href="/apps/teapot")
                span.fa.fa-coffee.fa-5x
        .card-deck.m-3
          .card.bg-light.text-center
            .card-header
              h4 Unifi
                span.fa.fa-external-link-alt.mt-2.ml-2
            .card-body
              a(href="https://unifi.ubnt.com", target="_blank")
                span.fa.fa-wifi.fa-5x
          .card.invisible
          .card.invisible
