.container-fluid.content-page
  .page-header
    h3
      span.fa.fa-life-ring.fa-fw
      | IT Department
  .page-content
    .row
      .col.page-view.bg-7.gray
        .card-deck.m-3
          .card.bg-light.text-center
            .card-header
              h4 Automation
            .card-body
              a(href="/it/autom")
                span.fa.fa-terminal.fa-5x
          .card.bg-light.text-center
            .card-header
              h4 Inventory
            .card-body
              a(href="/it/inventory")
                span.fa.fa-cubes.fa-5x
          .card.bg-light.text-center
            .card-header
              h4 Reports
            .card-body
              a(href="/it/reports")
                span.fa.fa-chart-pie.fa-5x
        .card-deck.m-3
          .card.bg-light.text-center
            .card-header
              h4 Purchase Orders
            .card-body
              a(href="/it/inventory/po")
                span.far.fa-clipboard.fa-5x
          .card.invisible
          .card.invisible